*,
*:before,
*:after {
  box-sizing: border-box;
}

#root {
  width: 100%;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: hsl(218, 23%, 16%);
  height: 100vh;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button:hover {
  box-shadow: hsl(150, 100%, 66%) 0px 0px 40px;
}

button:active {
  transform: scale(0.95);
}
